//@theme "Arc-Dark"
@theme "Monokai"



// https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown

window {
    width: var( width, 40%);
    height: var( height, 40%);
    border: 2;
    border-color: #70dbff;
    border-radius: 5px;
    background-color: rgba(34, 34, 34, 0.95);
}

listview {
    border-color: rgba(102, 102, 102, 0.95);
    scrollbar:    true;
}

entry {
    placeholder: "...";
    cursor: text;
}


element {
  orientation: horizontal;
  children: [element-icon, element-text ];
}

element-icon {
    size: 1.5em;
}

element-text {
    vertical-align: 0.65;
}

element-icon, element-text {
    padding: 5px;
    cursor: pointer;
}

entry, element-text, prompt {
  text-color: white;
  font: "MesloLG 11";
}

scrollbar {
    width:        4px ;
    handle-color: rgba(102, 102, 102, 0.95);
    handle-width: 8px;
    handle-rounded-corners: true;
}