@import "grayscale.css";

* {
  font-family: "MesloLGMNerdFont Propo";
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: @background;
  color: @text;
  margin: 0;
  padding: 0;
}

#workspaces {
  border-radius: 0.4rem;
  margin: 5px 0;
  background-color: @filling;
  margin-left: 0.4rem;
  padding-right: 0px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: @unfocus;
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(102, 102, 102, .5);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}
#workspaces button.active {
    color: @text;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(102, 102, 102, .5);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.urgent {
    color: @urgent;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.urgent:hover {
    color: rgba(255, 102, 102, 0.5);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

#window {
  color: @text;
  background-color: @filling;
  border-radius: 0.4rem;
  margin: 5px;
  padding-left: 5px;
  padding-right: 7px;
}

window#waybar.empty #window {  
 background:none;  
}  

#tray,
#clock,
#battery,
#pulseaudio,
#custom-notification,
#custom-updates,
#custom-shutdown,
#network {
  background-color: @filling;
  padding: 0.5rem 0.8rem;
  margin: 5px 0;
}

#clock {
  color: @text;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

#custom-notification {
  color: @text;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
  padding-right: 0.9rem;
}

#custom-shutdown {
/*  color: @red; */
  border-radius: 0.4rem;
  margin-left: 0.4rem;
  padding-right: 0.9rem;
}
/*
#battery {
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}
*/
#backlight {
  background-color: @filling;
  padding: 0.5rem 0.8rem;
  padding-right: 1.1rem;
  margin: 5px 0px;
  margin-left: -0.5rem;
/*  color: @yellow; */
  border-radius: 0px 0.4rem 0.4rem 0px;
}

#pulseaudio {
/*  color: @maroon; */
  border-radius: 0.4rem 0px 0px 0.4rem;
  margin-left: 0.4rem;
}
/*
#network {
  color: @mauve;
}
*/
#custom-music {
  color: @mauve;
  border-radius: 0.4rem;
}

#tray {
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

#custom-updates {
  color: @red;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}